.log-row__time,
.log-row__message,
.log-row__location {
    display: inline-block;
}

.log-row {
    border-bottom: 1px solid #F4F2F2;
    line-height: 22px;
    padding: 0 .5%;
}

.log-row__time {
    width: 7%;
    color: #AEAEAE;
}

.log-row__message {
    width: 82%;
}

.log-row__location {
    font-style: italic;
    float: right;
}

.log-row_warn {
    background-color: hsl(50, 100%, 95%);
    border-top: 1px solid hsl(50, 100%, 88%);
    border-bottom: 1px solid hsl(50, 100%, 88%);
}

.log-row_error {
    background-color: hsl(0, 100%, 97%);
    border-top: 1px solid hsl(0, 100%, 92%);
    border-bottom: 1px solid hsl(0, 100%, 92%);
}

.log-row_debug .log-row__message {
    color: blue;
}
