.log-row__time,
.log-row__message,
.log-row__location {
    display: inline-block;
}

.log-row {
    border-bottom: 1px solid #F4F2F2;
    line-height: 22px;
    padding: 0 .5%;
    /* 
        HACK: This transform addresses a nasty
        Chrome rendering issue that I haven't been able
        to resolve otherwise: http://stackoverflow.com/a/21947628

    */
    transform: translateZ(0);
}

.log-row__time {
    width: 7%;
    color: #AEAEAE;
    vertical-align: top;
}

.log-row__message {
    width: 82%;
    word-wrap: break-word;
}

.log-row__location {
    font-style: italic;
    float: right;
}

.log-row_warn {
    background-color: hsl(50, 100%, 95%);
    border-top: 1px solid hsl(50, 100%, 88%);
    border-bottom: 1px solid hsl(50, 100%, 88%);
}

.log-row_error {
    background-color: hsl(0, 100%, 97%);
    border-top: 1px solid hsl(0, 100%, 92%);
    border-bottom: 1px solid hsl(0, 100%, 92%);
}

.log-row_debug .log-row__message {
    color: blue;
}
