.log-row__time,
.log-row__message,
.log-row__location {
    display: inline-block;
}

.log-row {
    border-bottom: 1px solid #F4F2F2;
    line-height: 22px;
    padding: 0 .5%;
}

.log-row__time {
    width: 7%;
    color: #AEAEAE;
}

.log-row__message {
    width: 82%;
}

.log-row__location {
    font-style: italic;
    float: right;
}
