.log-list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0%;
    height: calc(60% - 28px);
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid #dadada;
}
